<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="../static/search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
    </style>
  </head>
  <body>
    <form action="" method="post">
      <h1>Movie Recommendation Website</h1>
      <input
        type="text"
        name="mvname"
        id="one"
        placeholder="Search for a Movie"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
      <button type="submit">Search</button>
    </form>
  </body>
</html>
